h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
}
p{
    font-size: medium;
    font-style:italic;
    font-variant:small-caps;
    color:aqua;
    text-align: center;
    text-transform:capitalize ;
    text-shadow: 4px;
    text-decoration: dotted;
}
